.navbar-landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
  position: fixed; /* added */
  top: 0;          /* added */
  left: 0;         /* added */
  width: 100%;     /* added */
  z-index: 1000; 
}

.logo-main {
  font-size: 1.3rem;
  font-weight: 600;
  user-select: none;
  background: linear-gradient(180deg, #000000 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.logo-blue {
    font-size: 1.7rem;
  background: linear-gradient(182deg, rgba(23, 64, 114, 1) 0%, rgba(43, 121, 216, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: bold;
}

.nav-tabs-main {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-item-main {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  color: #555555;
  transition: all 0.3s ease;
}

.nav-item-main:hover {
  color: #0f0f0f;
}

.nav-item-main.active {
  font-weight: 700;
  color: #060606;
}

.nav-item-main.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3b82f6;
  border-radius: 2px;
}

.login-button-main {
  color: #2B79D8;
  border: 2px solid #2B79D8;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
}

.login-button-main:hover {
  background-color: #2B79D8;
  color: #fff;
}
