.login-container {
  max-width: 600px;
  margin:100px auto;
  padding: 50px 50px;
  background: #ffffff;
  border-radius: 12px;
  text-align: left;
  box-shadow: rgba(142, 142, 147, 0.2) 0px 7px 29px 0px;
}
.login-container h1 {
 margin-bottom: 25px;
  font-weight: 700;
  color: #222;
  font-size: 30px;
}
.msg {
    font-weight: 700;
    font-size: 20px;
    color: red;
}